* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('6.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}

.logo {
    position: absolute;
    top: 5px;
    left: 1px;
    width: 250px;
    height: auto;
    display: block;
    z-index: 11;
} 

form{
    width: 500px;
    height: 500px;
    background: transparent;
    color: #ffffff;
    border-radius: 10px;
    padding: 100px 100px;
    backdrop-filter: blur(5px);
    border: 1px solid #eee;
}

.wrapper h1 {
    font-size: 50px;
    text-align: center;
    margin-top: -50px;
    padding-top: 1px;
    padding-bottom: 50px;
}

.visa-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 300px;
    height: 180px;
    background-image: radial-gradient(circle 897px at 9% 80.3%,
            rgb(0, 0, 0) 0%,
            rgba(255, 255, 255, 0.9) 100.2%);
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    gap: 15px;
}

.logoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    padding: 18px;
    margin-left: -20PX;
}

.svgLogo {
    height: 40px;
    width: auto;
}

.inputstyle::placeholder {
    color: #ffffff;
}

.inputstyle {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    caret-color: rgb(255, 255, 255);
    font-size: 12px;
    height: 25px;
    letter-spacing: 2px;
}

.number-container {
    width: 10rem;
    height: fit-content;
    display: flex;
    margin-bottom: 25px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    word-spacing: 20px;
}

.input-label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cardNumber1,
#cardNumber2,
#cardNumber3,
#cardNumber4 {
    height: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    letter-spacing: 3px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    margin: 5px;
    justify-content: space-between;
    width: 50px;
    margin-bottom: 1px;
    margin-left: 1px;
}

.name-date-cvv-container {
    width: 100%;
    height: 25px;
    display: flex;
    gap: 10px;
}

.name-wrapper {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.expiry-wrapper,
.cvv-wrapper {
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.cvv-wrapper {
    width: 10%;
    background-color: transparent;
}

#expiry,
#cvv {
    width: 100%;
}

.input-label {
    font-size: 8px;
    letter-spacing: 1.5px;
    color: #e2e2e2;
    width: 100%;
}

.Btn {
    padding: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .5s;
}

.svgIcon {
    width: 16px;
}

.svgIcon path {
    fill: rgb(0, 0, 0);
}

.Btn::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    left: -100%;
    top: 0;
    transition-duration: .5s;
    mix-blend-mode: difference;
}

.Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%, -50%);
}

.Btn:active {
    transform: translate(5px, 5px);
    transition-duration: .3s;
}